{% load static %}
{% load humanize %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">
</head>

<body>
    <div class="header">
        <div class="header-logo"><a href="{% url 'index' %}">{{ title }}</a></div>
    </div>

    <div class="main">
        <p class="message">{{ message|safe }}</p>

        {% block contents %}
        {% endblock %}

        
        {% block table %}
        {% endblock %}
        

        {% block pagination %}
        {% endblock %}
    </div>

    <div class="footer">
        
    </div>
</body>

</html>