{% extends "account/base.html" %}
{% load humanize %}

{% block table %}
<table>
    <tr>
        <th>カテゴリ</th>
        <td>{{ obj.category }}</td>
    </tr>
    <tr>
        <th>名前</th>
        <td>{{ obj.name }}</td>
    </tr>
    <tr>
        <th>値段</th>
        <td>{{ obj.price|intcomma }}</td>
    </tr>
    <tr>
        <th>日付</th>
        <td>{{ obj.created_at }}</td>
    </tr>
    <form action="{% url 'delete' id%}" method="post">
        {% csrf_token %}
        <tr>
            <th></th>
            <td><input type="submit" value="click"></td>
        </tr>
    </form>
</table>
{% endblock %}